<%= stylesheet_link_tag "poll", media: "all"  %>
<div id="poll-form">

  <% if flash[:alert].present? %>
    <div class="alert alert-danger">
      <%= button_tag '', class: 'close', data: { dismiss:'alert' } do %>
        <span aria-hidden="true">&times;</span>
      <% end %>
      <span class="glyphicon glyphicon-exclamation-sign"></span>
      <%= flash[:alert] %>
    </div>
  <% end %>

  <% if flash[:notice].present? %>
    <div class="alert alert-info">
      <%= button_tag '', class: 'close', data: { dismiss:'alert' } do %>
        <span aria-hidden="true">&times;</span>
      <% end %>
      <span class="glyphicon glyphicon-info-sign"></span>
      <%= flash[:notice] %>
    </div>
  <% end %>

  <% if flash[:wait].present? %>
    <div class="alert alert-warning">
      <%= button_tag '', class: 'close', data: { dismiss:'alert' } do %>
        <span aria-hidden="true">&times;</span>
      <% end %>
      <span class="glyphicon glyphicon-info-sign"></span>
      <%= flash[:wait] %>
    </div>
  <% end %>

  <% if flash[:closed].present? %>
    <div class="alert alert-danger">
      <span class="glyphicon glyphicon-exclamation-sign"></span>
      <%= flash[:closed] %>
    </div>
  <% end %>

  <div>
    <h1>Noite de Talentos</h1>
    <h4>Insira o código que você recebeu e vote na sua equipe favorita!</h4>
  </div>

  <%= bootstrap_form_tag url: "/poll" do |f| %>
    <%= f.text_field :code, { label: t('helper.code'), required: true, autofocus: true } %>
    <%= f.select :team_id, @teams.collect { |team| [team.name, team.id] },
      { label: t('helper.team') },
      { class: "selectpicker",  wrapper: { class: 'has-warning'} } %>

    <div>
      <%= button_tag t('helper.submit'), class: "btn", disabled: !@voting_open %>
    </div>

    <br><br>
    <%# <%= link_to t('helper.view_result'), result_path %>
  <% end %>

  <div class="footer">
    <p>&copy; Copyright 2019 - Rodrigo Gonçalves <a href="https://www.instagram.com/rodgoncalves/">@rodgoncalves</a></p>
  </div>

</div>
