<%= stylesheet_link_tag "poll", media: "all"  %>
<div id="poll-form">

  <% if flash[:alert].present? %>
    <div class="alert alert-danger" style="text-align:center">
      <%= button_tag '', class: 'close', data: { dismiss:'alert' } do %>
        <span aria-hidden="true">&times;</span>
      <% end %>
      <span class="glyphicon glyphicon-exclamation-sign"></span>
      <%= flash[:alert] %>
    </div>
  <% end %>

  <% if flash[:notice].present? %>
    <div class="alert alert-info" style="text-align:center">
      <%= button_tag '', class: 'close', data: { dismiss:'alert' } do %>
        <span aria-hidden="true">&times;</span>
      <% end %>
      <span class="glyphicon glyphicon-info-sign"></span>
      <%= flash[:notice] %>
    </div>
  <% end %>

  <% if flash[:warning].present? %>
    <div class="alert alert-warning" style="text-align:center">
      <%= button_tag '', class: 'close', data: { dismiss:'alert' } do %>
        <span aria-hidden="true">&times;</span>
      <% end %>
      <span class="glyphicon glyphicon-warning-sign"></span>
      <%= flash[:warning] %>
    </div>
  <% end %>

  <% if flash[:wait].present? %>
    <div class="alert alert-warning" style="text-align:center">
      <span class="glyphicon glyphicon-info-sign"></span>
      <%= flash[:wait] %>
    </div>
  <% end %>

  <% if flash[:closed].present? %>
    <div class="alert alert-danger" style="text-align:center">
      <span class="glyphicon glyphicon-exclamation-sign"></span>
      <%= flash[:closed] %>
    </div>
  <% end %>

  <div>
    <h1>Noite de Talentos</h1>
    <h4>Insira o código que você recebeu e vote na sua equipe favorita!</h4>
  </div>

  <%= bootstrap_form_tag url: "/poll" do |f| %>
    <%= f.text_field :code, { label: t('helper.code'), required: true, autofocus: true } %>

    <div class="form-group">
      <div class="card" style="margin:20px 0">
        <div class="card-header">
          <label><%= t('helper.team') %></label>
        </div>
        <ul class="list-group list-group-flush">

          <% @teams.collect do |team| %>
            <li class="list-group-item">
              <div class="card-stripe">
              </div>
              <label class="checkbox">
                <input type="checkbox" class="chb" name="team_id" id="team-<%=team.id%>" value="<%=team.id%>"/>
                <span class="success"></span>
              </label>
              <label style="color: #333" for="team-<%=team.id%>">
                <%= team.name %>
                <%= '-' if team.participants.count > 0 %>
              </label>
              <label style="margin:0 0 0 5px; color: #999" for="team-<%=team.id%>">
                <%= team.participants.map(&:name).to_sentence(last_word_connector: ' e ', two_words_connector: ' e ') %>
              </label>
            </li>
          <% end %>

        </ul>
      </div>
    </div>

    <div>
      <%= button_tag t('helper.submit'), class: "btn", disabled: !@voting_open %>
    </div>

    <br><br>
  <% end %>

  <div class="footer">
    <p>Versão 1.0. Autor: Rodrigo Gonçalves. &copy; Copyright 2019</p>
  </div>

</div>

<script>
$(".chb").change(function() {
    $(".chb").prop('checked',false);
    $(this).prop('checked',true);
});
</script>
