<%= stylesheet_link_tag "result", media: "all"  %>

<p id="notice"><%= notice %></p>

<h1><%= t('helper.result') %></h1>

<label>Status da votação</label>
<br>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <%= link_to 'Espera', voting_path(status: 0), method: :post, class: 'btn btn-warning ' + (@voting.wait? ? '' : 'btn-outline') %>
  <%= link_to 'Aberta', voting_path(status: 1), method: :post, class: 'btn btn-success ' + (@voting.open? ? '' : 'btn-outline') %>
  <%= link_to 'Fechada', voting_path(status: 2), method: :post, class: 'btn btn-danger ' + (@voting.closed? ? '' : 'btn-outline') %>
</div>

<br>
<br>

<table id="result-table" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t('helper.team_name') %></th>
      <th><%= t('helper.votes') %></th>
      <th><%= t('helper.percent') %></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>

    <tr>
      <td colspan="4" id="votes_count"></td>
    </tr>
  </tbody>
</table>

<br>
<%= link_to t('helper.codes'), codigos_path %> | <%= link_to t('helper.back'), root_path %>

<script>

var timeoutfunc;
function RefreshTable(tableId, urlData) {
  $.getJSON(urlData, null, (data) => {
    var votes_count = $('#votes_count');
    if (votes_count.length == 0) {
      return;
    }
    votes_count.html("<strong>Total de votos computados: </strong>" + data.votes_count);

    teams = JSON.parse(data.teams);
    prev = null;
    for (var i = 0; i < teams.length; i++) {
      team = teams[i];
      rows = $("#result-table tbody tr");
      row = rows[i];

      for (var j = 0; j < row.cells.length; j++) {
        cell = row.cells[j];
        if (j == 0) { // Posição
          cell.textContent = '';
          if (prev == null || prev.votes != team.votes) {
            cell.textContent = i + 1;
          }
        } else if (j == 1) { // Nome da equipe
          cell.textContent = team.name;
        } else if (j == 2) { // Votos
          cell.textContent = team.votes;
        } else if (j == 3) { // Porcentagem
          value = data.votes_count ? ((team.votes / data.votes_count) * 100).toFixed(1) + "%" : "-";
          cell.textContent = value;
        }
      }

      prev = team;
    }
    console.log("Total: " + data.votes_count);
  }
 ).fail(() => { clearTimeout(timeoutfunc) });
}

function AutoReload() {
  RefreshTable('#result-table', '/resultado.json');

  var is_open = <%= @voting.open?.to_json %>;
  if (is_open) {
    timeoutfunc = setTimeout(function() { AutoReload(); }, 3000);
  }
}

$(document).ready(function() {
  AutoReload();
});

</script>
