<p id="notice"><%= notice %></p>

<h1><%= t('helper.result') %></h1>

<table id="result-table" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t('helper.team_name') %></th>
      <th><%= t('helper.votes') %></th>
      <th><%= t('helper.percent') %></th>
    </tr>
  </thead>

  <tbody>
    <% i = 0 %>
    <% @teams.each do |team| %>
      <tr>
        <td><%= i+=1 %></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>

    <tr>
      <td colspan="4" id="votes_count"></td>
    </tr>
  </tbody>
</table>

<br>
<br>
<%= link_to t('helper.back'), root_path %>
