<p id="notice"><%= notice %></p>

<h1><%= t('helper.result') %></h1>

<table id="result-table" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t('helper.team_name') %></th>
      <th><%= t('helper.votes') %></th>
      <th><%= t('helper.percent') %></th>
    </tr>
  </thead>

  <tbody>
    <% i = 0 %>
    <% @teams.each do |team| %>
      <tr>
        <td><%= i+=1 %></td>
        <td><%= team.name %></td>
        <td><%= team.votes %></td>
        <% if @votes_count != 0 %>
          <td><%= ((team.votes / @votes_count.to_f) * 100).round(1) %>%</td>
        <% else %>
          <td>-</td>
        <% end %>
      </tr>
    <% end %>

    <tr>
      <td colspan="4"><strong>Total: </strong><%= @votes_count %></td>
    </tr>
  </tbody>
</table>

<br>
<br>
<%= link_to t('helper.back'), root_path %>
